.tab-list {
    margin: 0;
    z-index: 5;
    border-bottom: none !important;
}

.tab-list .nav-link {
    color: white;
    border: none !important;
    border-radius: 0;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: 500;
}

.tab-list .nav-link.active {
    background-color: transparent !important;
    color: #ffffff;
    border: none !important;
    z-index: 5;
}

.credentials-bg-left {
    width: 15%;
    top: 89%;
    left: -19px;
}

#tab-blockchain {
    padding-left: 100px;
}

#tab-blockchain.active {
    padding-left: 150px;
}

#tab-digital {
    padding-left: 100px;
}

#tab-digital.active {
    padding-left: 40px;
}

.grid-overlay {
    grid-area: 1 / 1 / 2 / 2;
}

.d-grid {
    display: grid;
}

.logo-container {
    position: relative;
    overflow: hidden;
}

.bg-layer {
    z-index: 1;
}

.logo-grid {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    padding: 0px;
    place-items: center;
    margin-right: 100px;
    margin-top: 100px;
}

.flip-horizontal {
    transform: scaleX(-1);
}

.start-vector {
    left: -10% !important;
}

@media(max-width: 1400px) {
    .tab-list .nav-link {
        padding: 12px 0px;
    }

    .start-vector {
        width: 15% !important;
    }
}

@media(max-width: 1200px) {
    .logo-grid {
        margin-right: 180px;
    }

    #tab-blockchain {
        padding-left: 60px;
    }

    #tab-blockchain.active {
        padding-left: 230px;
    }

}

@media(max-width: 991px) {
    #tab-blockchain {
        padding-left: 180px;
    }

    #tab-blockchain.active {
        padding-left: 130px;
    }

    .tab-list .nav-link {
        padding: 12px 0px;
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    #tab-blockchain {
        padding-left: 180px;
    }

    #tab-blockchain.active {
        padding-left: 100px;
    }

    #tab-digital {
        padding-left: 84px;
    }

    #tab-digital.active {
        padding-left: 22px;
    }
}

@media(max-width: 575px) {
    #tab-blockchain {
        padding-left: 130px;
    }

    #tab-blockchain.active {
        padding-left: 150px;
    }

    .tab-list .nav-link {
        padding: 12px 0px;
        font-size: 14px;
    }
}

@media(min-width: 500px) and (max-width: 360px) {
    #tab-blockchain {
        padding-left: 120px;
    }

    #tab-blockchain.active {
        padding-left: 85px;
    }

    .tab-list .nav-link {
        padding: 12px 0px;
        font-size: 12px;
    }

    #tab-digital {
        padding-left: 38px;
    }

    #tab-digital.active {
        padding-left: 0px;
    }

    .logo-grid {
        z-index: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 40px;
        margin-top: 26px;
    }
}
@media (max-width: 360px) {
    #tab-blockchain {
        padding-left: 74px;
    }
}