.cryptocurrency .cryptocurrency-cliper{
   width: 80%;
   top: 150px;
   
};
.cryptocurrency .star-bg{
    width: 15%;
    top: 150px;
    z-index: -2;

}
.cryptocurrency .star-left{
    width: 15%;
    top: 80px;
    z-index: -2;

}
@media (max-width: 768px) {
 .laptop-image{
    width: 80%;
    aspect-ratio: 1/1
 }
  
}