.crypto-products {
    .section-title {
        font-size: 1.2rem;
        font-weight: 400;
        color: #ccc;
        border: 1px solid #ccc;
        display: inline-block;
        padding: 0.3rem 1rem;
        border-radius: 20px;
        margin-bottom: 0.5rem;
    }

    .section-subtitle {
     color: #ccc;
    }

    .crypto-card {
        background: linear-gradient(to right, #6F26FF, #FFFFFF);
        padding: 1rem 10rem;
        margin-bottom: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        clip-path: polygon(29% 10%, 89% 9%, 89% 73%, 75% 100%, 12% 100%, 12% 41%);


        .icon-wrapper {
            background: transparent;
            margin-bottom: 1rem;

            img {
                width: 60px;
                height: auto;
                filter: brightness(0) invert(1); // White coloring
            }
        }

        .crypto-name {
            font-size: 1.25rem;
            font-weight: 500;
            color: white;
        }
    }
}