.product-card-logo {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 70px;
  height: 80px;


  @media (max-width: 1400px),
  (max-width: 992px) {
    width: 60px;
    height: 60px;
  }

  @media (max-width: 768px) {
    left: 14%;
    width: 70px;
    height: 80px;
  }

  @media (min-width: 360px) and (max-width: 575px) {
    top: 13%;
    left: 12%;
    width: 50px;
    height: 80px;
  }
}

.product-card-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;


  @media (max-width: 768px) {
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}