.stats-section {
    .stats-row {
        div:last-of-type {
            .stats-card {
                &::after {
                    display: block;

                    @media (min-width: 768px) and (max-width: 1199.98px) {
                        display: block;
                    }

                    @media (min-width: 1200px) {
                        display: none;
                    }

                    @media (max-width: 767.98px) {
                        display: block;
                    }
                }
            }
        }
    }
    .stats-card {
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 80px;
            height: 2px;
            background: linear-gradient(to left, #B95DFE, #ffffff);

            @media (max-width: 1199.98px) {
                width: 250px;
                left: 50%;
                transform: translateX(-50%);
            }

            @media (max-width: 767.98px) {
                width: 122%;
                left: 50%;
                transform: translateX(-50%);
                
            }

            @media (min-width: 1200px) {
                width: 2px;
                height: 100%;
                background: linear-gradient(to bottom, #B95DFE, #ffffff);
                right: -2rem;
                left: auto;
                bottom: 0;
                transform: none;
            }
        }
    }

    @media (min-width: 1400px) {
        .stats-label {
            font-size: 1.25rem !important;
        }

        .stats-value {
            font-size: 3rem !important;
        }
    }

    @media (min-width: 1920px) {
        .stats-label {
            font-size: 1.8rem !important;
        }
    }
}