.contact-form-section {
  .form-container {
    background-image: url('../image/form-Vector.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 55px 5px 65px 96px;


  }

  label {
    display: inline-block;
    margin-bottom: 10px;
    color: $primary;
  }

  .form-group {
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      margin-bottom: 1rem;
    }
  }

  .form-check-group {
    margin-bottom: 2rem;

    input[type='checkbox'] {
      margin-top: 3px;
    }

    label {
      flex: 1;
      color: $primary;
    }

  }

  .custom-input {
    padding: 12px 16px;
    background: white;
    border: none;
    width: 100%;
    color: #000;
    transition: 0.3s ease;
    box-shadow: 0 0 0 2px #ccc;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #007bff;
    }
  }

  #input-full-name {
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%, 0 37% calc(100% - 20px), calc(100% - 20px) 100%, 0% 100%, 0% 20px);
  }

  #input-first-name {
    clip-path: polygon(25px 0%, 100% 0%, 100% 100%, calc(100% - 10px) 100%, 0% 100%, 0% 25px);
  }

  #input-last-name {
    clip-path: polygon(0 0%, 100% 0%, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0% 100%, 0% 25px);
  }

  #input-email,
  #input-message {
    clip-path: polygon(17px 0%, 100% 0%, 100% calc(95% - 23px), calc(100% - 20px) 100%, 0% 100%, 0% 20px);
  }
}

